.bg
{
    background-image: linear-gradient(to bottom right, #d6cb29 0%, #134074 100% );
    padding: 10px;
    width: 42%;
    border-radius: 16px;
    text-align: left;
    margin: 20px;
    font-weight: 600;
}     

@media screen and (max-width: 800px) {
.bg {
    width: 90%;
    }
}

#head{
    border-color: black;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    outline: black solid 4px;
}

.botmsg{
    background: #d6cb29;
    padding: 10px;
    border-radius: 5px 30px 30px;
    display: inline-block;
    margin: 5px;
}

.usermsg{
    background: #134074;
    padding: 10px;
    border-radius: 30px 5px 30px 30px;
    margin: 5px;
    display: inline-block;
    text-align: right;
    color: white;
}

.userside{
    text-align: right;
}

#input{
    display: inline-block;
    text-align: right;
    width: 95%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
}
#input:focus{
    outline-width: 0;
}

#flow{
    display: none;
}